:root {
    font-size: 62.5%;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

/* layout */
.l_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* commons */
.highlight {
    font-weight: bold;
    font-size: 3.25rem;
}

/* component */
body {
    font-size: 1.6rem;
    background-color: var(--very-light-gray);
}

.header {
    text-align: center;
    max-width: 550px;
    margin: 100px auto 50px;
    padding: 0 10px;
    box-sizing: border-box;
    /* max-width: 400px; */
}

.header-title {
    max-width: 400px;
    margin: 0 auto;
    font-size: 3.2rem;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.header-description {
    /* font-weight: bold; */
    max-width: 540px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: var(--grayish-blue);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    max-width: 380px;
    aspect-ratio: 3/2;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--cyan);
}

.card:not(:first-child) {
    margin-top: 40px;
}

.card::after {
    content: " ";
    width: 64px;
    height: 64px;
    display: block;
    margin: auto 0 0 auto;
    background-image: url(images/icon-calculator.svg);
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.card-contents p {
    font-size: 1.5rem;
    color: var(--grayish-blue);
}
