:root {
    font-size: 62.5%;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/* layout */
.l_wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* commons */
.highlight {
    font-weight: bold;
    font-size: 3.25rem;
}

/* component */
body {
    font-size: 1.6rem;
    background-color: var(--very-light-gray);
}

.header {
    text-align: center;
    max-width: 550px;
    margin: 100px auto 0px;
    padding: 0 10px;
    box-sizing: border-box;
    /* max-width: 400px; */
}

.header-title {
    max-width: 400px;
    margin: 0 auto;
    font-size: 3.2rem;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.header-description {
    /* font-weight: bold; */
    max-width: 540px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: var(--grayish-blue);
}

.contents{
    margin: 100px 0;
}

.contents-inside{
position: relative;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    max-width: 380px;
    aspect-ratio: 3/2;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-top: 5px solid;
}

  .card:first-child{
        position: static;
        transform: translate(0);
    }

    .card:last-child{
        position: static;
        transform: translate(0);
    }

    .card:not(:first-child) {
        margin-top: 40px;
    }

.card.type_red{
    color:var(--red);
}

.card.type_cyan{
    color: var(--cyan);
}

.card.type_orange{
    color: var(--orange);
}

.card.type_blue{
    color: var(--blue);
}

.card:not(:first-child) {
    margin-top: 40px;
}

.card-icon {
    content: " ";
    width: 64px;
    height: 64px;
    display: block;
    margin: auto 0 0 auto;
}

/* .card:first-child{
    position:absolute;
} */



.card-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.card-contents p {
    font-size: 1.5rem;
    color: var(--grayish-blue);
}

@media (min-width:1230px){
  

    .card:first-child{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    
    .card:last-child{
        margin-top:0;
        position: absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
    }
}
